# Example

### this is an example

My example

In [1]:
a<-2+3
a

[1] 5

In [2]:
countries<-read.csv("countries1.csv")
head(countries)

  X          gdp_pc..US.1000.dollars. labor_prod..US.1000.dollars.
1 Bangladesh  0.593                    0.506
2 Chile       9.430                    6.490
3 Hungary    11.230                    9.595
4 Spain      25.380                   33.200
5 Italy      30.130                   47.900

In [3]:
library(haven)
mfi<-read_dta("PS2_MFI.dta")
head(mfi)

  intervid treatment resp_female resp_primary resp_secondary resp_tertiary
1  2       1         1           1            0              0
2  4       0         0           0            0              1
3  6       0         0           1            0              0
4  7       0         0           0            1              0
5  8       1         0           1            0              0
6 13       1         0           0            1              0
  resp_noschool resp_age resp_married resp_emp ... hhmem_unemployed
1 0             29       0            0        ... 1
2 0             49       0            0        ... 2
3 0             24       1            1        ... 0
4 0             45       0            1        ... 0
5 0             52       0            1        ... 0
6 0             18       1            1        ... 0
  hhmem_retired hhmem_school total_exp food_exp nondur_exp dur_exp temp_exp
1 0             2             5740      2080     960       1400    1300
2 0             2            34678     30160    4488         30       0
3 0             0             9180      2600     420       4340    1820
4 0             0            12696      9360    1812        900     624
5 0             2             2960      2600     360          0       0
6 0             1             9188      7800     360        300     728
  savings_avg followup
1   0         1
2 500         1
3   0         1
4   0         1
5   0         1
6 500         1